<form style="background-color:#1417e0a9 ;">
<h2 style="text-align:center; color: aliceblue;" >Venta de boletos</h2>
<p>Nombre:</p><input  type="text" [(ngModel)]="Nombre"><br>
<p>Gmail:</p>
<input  type="text" [(ngModel)]="correo"><br>
<p>Contraseña:</p>
<input  type="text" [(ngModel)]="contraseña"><br>
<p>Confirmar Contraseña:</p>
<input  type="text" [(ngModel)]="confirma"><br>
<P>Numero telefonico</P>
<input  type="number" [(ngModel)]="telefono">
<br>
</form>
<button (click)="almacenaste()" (click)="navega2()" >Recibo</button>

